.main-navigation {
	clear: both;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	height: 80px;
	background-color: rgba(250, 250, 250, .75);
	width: 100%;
	text-align: center;
	border-bottom: 1px solid black;

	ul {
		list-style: none;
		margin: 1em 0;
		padding-left: 0;
	}

	li {
		margin: 0 .5em;
		display: inline-block;
		font-size: 1.35em;
		width: 110px;
		padding: 2px;
		text-align: center;
		outline: none;
		text-decoration: none;
		transition: background-color 0.2s ease-out;
		
		:hover,active {
			color: $color_logo_darkorange;
			transition: color 0.4s ease-in;
		}
	}

	
}



/* Small menu */
.menu-toggle {
	display: none;
	background-color: rgba(150, 150, 150, .5);
	position: fixed;
	z-index: 10;
	font-size: 1.5em;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
		width: 100%;
	}

	.main-navigation ul {
		display: none;
		width: 100%;
	}
	.main-navigatoin li {
		width: 100%;
	}
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: right;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
