.full-width {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #fff;
	min-height: 500px;

		img {
			margin-top: 2em;
			max-width: 200px;
		}
}

.center {
	text-align: center;
}

#gmap_canvas {
	border-radius: 5%;
	border: 1px solid black;
}

.circle {
	width: 100%;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
}

.home_button {
	font-size: 2em;
	color: #8d8d8d;
	background-color: transparent;
	border-radius: 20px;
	text-shadow:0px 1px 0px black;
	text-decoration: none;
}

.home_nav {
	margin-top: 2em;
	a{
	margin: 0 1em 0 1em;
	}
}