.full-width {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #fff;
	min-height: 500px;

		img {
			margin-top: 2em;
			max-width: 200px;
		}
}

.center {
	text-align: center;
}

#gmap_canvas {
	border-radius: 5%;
	border: 1px solid black;
}

.circle {
	height: 200px;
	width: 200px;
}